#login-button {
  position: absolute;
  top: 25px;
  right: 25px;
}

.overview-card {
  width: 70vw;
  height: 75vh;
  padding: 0;
}

input {
  padding-left: 13.5px;
}

.mat-accordion {
  overflow-y: auto;
}
