<div fxFill fxLayoutAlign="center center">
  <mat-card class="login-card" fxLayout="column" fxLayoutAlign="space-around center">
    <div fxFlexAlign="stretch">
      <button mat-icon-button (click)="shared.navTo('overview')">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
    </div>
    <img class="logo" src="assets/logo.jpg" alt="logo">
    <form class="input-wrapper" fxLayout="column" fxLayoutAlign="space-around">
      <mat-form-field appearance="outline">
        <mat-label>Benutzername</mat-label>
        <input autofocus matInput [(ngModel)]="username" name="username">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Kennwort</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="password" name="password">
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" tabindex="-1">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <a fxFlexAlign="end" href="/register">Registrieren</a>
      <button type="submit" (click)="login()" mat-raised-button color="primary" fxFlexAlign="center">
        <mat-icon>login</mat-icon>
      </button>
    </form>
  </mat-card>
</div>
